/* ! COLOR PALETTE 
cyan: #92ebf1
purple: #5b17c9
lightgreen: #b1f45b
green: #b1f45b
grey: #b4b4b4
*/


/* ! RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Space Grotesk', sans-serif;
    color: black;
    background-color: #5b17c9;
}

header {
    padding: 16px;
    color: yellowgreen;
    text-align: center;
    background-color: #5b17c9;
}

.container {
    padding: 10px;
    /* border: 1px solid red; */
}



/* ! DATASET */

[data-state="wizard"] {
    background-color: #92ebf1;
}

[data-state="wizard"] section:not(.wizard),
[data-state="travel"] section:not(.travel),
[data-state="loading"] section:not(.loading) {
    display: none;
}



/* ! FORM & FIELD */

.user-data {
    max-width: 520px;
    margin: 0 auto;
}

.label-text {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 25px;
    text-align: center;
    padding-top: 20px
}

.field,
.field-group {
    background-color: #fff;
    padding: 16px;
    border-radius: 18px;
    border: none;
    font-family: inherit;
    width: 100%;
    /* border: 1px solid red; */
}

.field-group {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn {
    padding: 16px 24px;
    background-color: #5b17c9;
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    margin-top: 100px;
}